.container{
    border: 0px solid black;
}

.row{
    border: 0px solid red;
}

.col-lg,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
    border: 0px solid green;
}
body{
     background: gray;
}
p{
    margin: 0;
}

#header{
      background: orange;
      padding: 10px 0 10px;
}
#menu{
    background: pink;
    padding: 3px 0px;
}
#menu ul{
      list-style: none;
      margin: 0px;
}
#menu ul li{
    display: inline-block;
}
#content{
    background: white;
    padding: 3px 0px;
}

#sidebar{
    background: lightblue;
    padding: 3px 0px;
    min-height: 1px;
}
#sidebar ul {
    list-style: none;
    padding-inline-end: 10px;
  
}
#footer{
    background: orange;
}